body {
    margin: 0;
    padding: 0;
    background-color: #dde5e7;
    font-family: 'PT Serif', serif;
    /* change made here */
    font-weight: 700;
    /* addition here */
    color: #000000;
    font-size: 100%;
}

header,
section,
footer {
    width: 80%;
    margin: 10px auto;
}

h1 {
    font-size: 2.5em;
    letter-spacing: .04em;
}

p {
    line-height: 1.7rem;
}

h2 {
    font-style: normal;
    font-size: 2em;
    letter-spacing: .04em;
}

#map {
    width: 800px;
    height: 500px;
    margin: 10px auto;
    border: 2px solid #d3d3d3;
}

@media screen and (max-width: 900px) {

    .first-column,
    .second-column {
        width: 100%;
    }
}

.info {
    padding: 6px 8px;
    font-family: 'PT Serif', serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    font-size: 1rem;
    border-radius: 5px;
    max-width: 200px;
    font-family: 'PT Serif', serif;
    background: rgba(100, 100, 100, 0.9);
    color: rgba(244, 244, 244, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend h3 {
    font-size: 1.1em;
    font-weight: normal;
    color: #ddd;
    margin: 0 0 10px 0;
}

.legend span {
    width: 20px;
    height: 20px;
    margin: 0 10px 4px 0;
}

.legend label {
    font-size: 0.9rem;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-bar a {
    /* Override the default style for Leaflet's zoom  */
    background: rgba(100, 100, 100, 0.9);
    color: rgba(244, 244, 244, 0.8);
}

#tooltip {
    font-family: 'PT Serif', serif;
    color: #454545;
}

#dropdown {
    margin-bottom: 20px;
    margin-right: 35px;
}

h3,
h5 {
    margin: 0;
}

/* Custom Tool tips */
.leaflet-tooltip-own {
    background: rgba(58, 58, 58, 0.955);
    color: rgb(244, 244, 244);
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    font-family: 'PT Serif', serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.leaflet-tooltip-left:before {
    right: 0;
    margin-right: -12px;
    border-left-color: rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip-right:before {
    left: 0;
    margin-left: -12px;
    border-right-color: rgba(0, 0, 0, 0.4);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}